@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/*.css" />
    <link rel="stylesheet" asp-href-include="lib/fontawesome/css/*.css" />
    <title>Sports Store</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
        <div class="float-start">@await Component.InvokeAsync("CartSummary")</div>
    </div>
    <div class="row">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>