@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

<div class="card">
    <h3>
        <strong>@Model.Name</strong>
        <span class="float-start badge bg-primary">@Model.Price.ToString("c")</span>
    </h3>
    <span class="lead">@Model.Description</span>
</div>